.input-text:active {
    border: solid 2px rgb(42, 42, 42);
    /* Cambia el color del borde al enfocar el input */
}

.input-text:hover {
    border: solid 2px rgb(42, 42, 42);
}

/* Estilo para filas impares */
.odd-row {
    background-color: #ffffff;
    /* Cambia el color de fondo según lo necesites */
}

/* Estilo para filas pares */
.even-row {
    background-color: #f0f0f0;
    /* Cambia el color de fondo según lo necesites */
}

/* Estilos para las filas al pasar el ratón por encima */
.row-hover {
    background-color: #cbcde4;
    /* Cambia el color de fondo al pasar el ratón por encima */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    /* Transición suave */
}

.tipo-producto {
    border: 1px solid #495afb;
    padding: 1px 4px;
    border-radius: 5px;
    color: white;
    background-color: #818cf8;
    margin-right: 9px;
}

.input-text {
    border: solid 2px #e4e4e7;
    border-radius: 7px;
    padding: 4px 7px;
}

.text-descripcion {
    color: #0000008c;
    line-height: 21px;
    font-weight: 300;
}

.text-instructivo {
    color: #0000008c;
    line-height: 23px;
    font-weight: 300;
    font-size: 18px;
}

.text-instructivo-strong {
    font-weight: 600;
    font-style: italic;
}

.titulo-seccion {
    font-size: 32px;
    font-weight: 600;
    color: #000000cc;
    font-family: Helvetica, sans-serif;
}

.bg-personalizado {
    background-color: #6f7cf2;
}

.color-personalizado {
    border-bottom-color: #6f7cf2 !important;
}

.texto-intermitente {
    animation: intermitente 2s infinite;
}

@keyframes intermitente {

    0%,
    100% {
        opacity: 0.3;
        /* Opacidad baja */
    }

    50% {
        opacity: 1;
        /* Opacidad normal */
    }
}