.input-text:active {
    border: solid 2px rgb(42, 42, 42);
    /* Cambia el color del borde al enfocar el input */
}

.input-text:hover {
    border: solid 2px rgb(42, 42, 42);
}

/* Estilo para filas impares */
.odd-row {
    background-color: #ffffff;
    /* Cambia el color de fondo según lo necesites */
}

/* Estilo para filas pares */
.even-row {
    background-color: #f0f0f0;
    /* Cambia el color de fondo según lo necesites */
}

/* Estilos para las filas al pasar el ratón por encima */
.row-hover {
    background-color: #cbcde4;
    /* Cambia el color de fondo al pasar el ratón por encima */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    /* Transición suave */
}

.tipo-producto {
    border: 1px solid #495afb;
    padding: 1px 4px;
    border-radius: 5px;
    color: white;
    width: 1.2em;
    height: 1.2em;
    background-color: #818cf8;
    margin-right: 9px;
}

.tipo-adicional {
    background: #3aa2fe;
    border-radius: 6px;
    color: white;
    border: 1px solid #0086fd;
    font-weight: 700;
    font-size: smaller;
    width: 20px;
    height: 20px;
    text-align: center;
}

.tipo-fraccion {
    background: #1fd194;
    border-radius: 6px;
    color: white;
    border: 1px solid #12a773;
    font-weight: 700;
    font-size: smaller;
    width: 20px;
    height: 20px;
    text-align: center;
}

.input-text {
    border: solid 2px #e4e4e7;
    border-radius: 7px;
    padding: 4px 7px;
}

.text-descripcion {
    color: #0000008c;
    line-height: 21px;
    font-weight: 300;
}

.text-instructivo {
    color: #0000008c;
    line-height: 23px;
    font-weight: 300;
    font-size: 18px;
}

.text-instructivo-strong {
    font-weight: 600;
    font-style: italic;
}

.titulo-seccion {
    font-size: 32px;
    font-weight: 600;
    color: #000000cc;
    font-family: Helvetica, sans-serif;
}

.bg-personalizado {
    background-color: #6f7cf2;
}

.bg-personalizado-pastel {
    background-color: #999cbe;
}

.color-personalizado {
    border-bottom-color: #6f7cf2 !important;
}

.texto-intermitente {
    animation: intermitente 2s infinite;
}

.boton-degrades {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(127, 138, 247) 0%, rgb(128 139 246) 35%, rgb(195, 201, 255) 100%);
    color: white;
    border: 1px solid #818cf8;
    transition: opacity 0.5s; /* Transición suave de la opacidad */
}

  
  .boton-degrades.animado {
    animation: opacidad 2s linear infinite; /* Duración, tipo de animación e iteraciones */
  }
  
  .detenido {
    animation-play-state: paused; /* Detiene la animación */
  }
  
  @keyframes opacidad {
    0%, 100% {
      opacity: 1; /* Opacidad normal al principio y al final */
    }
    50% {
      opacity: 0.5; /* Opacidad al 50% en el paso intermedio */
    }
  }


.contenedor-img-animada {
    width: 23px; /* Ancho de tus imágenes */
    height: 23px; /* Altura de tus imágenes */
    position: relative;
  }
  
  .imagen-animada {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: girar 4s linear infinite; /* Duración, tipo de animación e iteraciones */
  }
  
  .detenido {
    animation-play-state: paused; /* Detiene la animación */
  }
  
  @keyframes girar {
    0% {
      transform: rotate(-15deg); /* Gira -15 grados en el primer paso */
    }
    50% {
      transform: rotate(15deg); /* Gira 15 grados en el paso intermedio */
    }
    100% {
      transform: rotate(-15deg); /* Vuelve a girar -15 grados en el último paso */
    }
  }

@keyframes intermitente {

    0%,
    100% {
        opacity: 0.3;
        /* Opacidad baja */
    }

    50% {
        opacity: 1;
        /* Opacidad normal */
    }
}


.container-lector{
    background-color: red;
    min-height: 16px;
}
.container-opciones{
    background-color: green;
    min-height: 16px;
}
.container-resumen{
    background-color: blue;
    min-height: 16px;
}
.container-buttons{
    background-color: violet;
    min-height: 16px;
}

.estilo-disabled {
    opacity: 0.5;
}